params {
    input_csv      = null
    input_bed      = null
    output_dir     = null
}

process {
    executor = 'slurm'
    clusterOptions = '-A chengqiyi_g1 --qos=chengqiyicnl'

    publishDir = [
        path: { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy'
    ]

    withName: 'BEDTOOLS_EXTRACT_SITES' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 4
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'CALCULATE_DMR_METHYLATION' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 4
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'GENERATE_METHYLATION_MATRIX' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 20
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'PLOT_HEATMAP' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 4
        time      = 24.h
        queue     = 'cn-long'
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /home,/gpfs1,/gpfs3"
    }
}

manifest {
    author = 'vanreality'
    name = 'multi_tissue_methylation_heatmap'
    description = ''
    version = 'dev1.0'
}